<p>Connection !</p>

<% if @current_user %>
<% if @current_user.role == "admin" %>
<h1>Bienvenue visiteur <%= @current_user.name %>  !</h1>
 <% end %>
 
<% else %>
<h1>Bienvenue visiteur !</h1>

<a href="/users/login">S'identifier</a>
 <% end %>
 